<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.sparknet.sjMessage.datalist.mapper.message.MsOrgMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.com.sparknet.sjMessage.datalist.entity.message.MsOrgEntity" id="msOrgMap">
        <result property="orgId" column="ORG_ID" jdbcType="VARCHAR"/>
        <result property="parentOrgId" column="PARENT_ORG_ID" jdbcType="VARCHAR"/>
        <result property="orgCode" column="ORG_CODE" jdbcType="VARCHAR"/>
        <result property="orgName" column="ORG_NAME" jdbcType="VARCHAR"/>
        <result property="orgSimpname" column="ORG_SIMPNAME" jdbcType="VARCHAR"/>
        <result property="orgDblink" column="ORG_DBLINK" jdbcType="VARCHAR"/>
        <result property="orgLevel" column="ORG_LEVEL" jdbcType="DECIMAL"/>
        <result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP"/>
        <result property="ord" column="ORD" jdbcType="DECIMAL"/>
        <result property="state" column="STATE" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- TODO: 这里生成所有字段，需删除末尾逗号并按需整理 -->
    <sql id="MessageOrg_Info_Column_List">
        ORG_ID, PARENT_ORG_ID, ORG_CODE, ORG_NAME, ORG_SIMPNAME, ORG_DBLINK, ORG_LEVEL, CREATE_DATE, ORD, STATE
    </sql>

    <select id="queryAllList" resultMap="msOrgMap">
        select
        <include refid="MessageOrg_Info_Column_List" />
        from R$ORG_KTL
    </select>

    <insert id="insertList" parameterType="java.util.List">
        insert into R$ORG_KTL(ORG_ID, PARENT_ORG_ID, ORG_CODE, ORG_NAME, ORG_SIMPNAME, ORG_DBLINK, ORG_LEVEL, CREATE_DATE, ORD, STATE)
        (
        <foreach collection="list" index="index" item="orgInfo" separator="union all">
            select
            #{orgInfo.orgId,jdbcType=VARCHAR},
            #{orgInfo.parentOrgId,jdbcType=VARCHAR},
            #{orgInfo.orgCode,jdbcType=VARCHAR},
            #{orgInfo.orgName,jdbcType=VARCHAR},
            #{orgInfo.orgSimpname,jdbcType=VARCHAR},
            #{orgInfo.orgDblink,jdbcType=VARCHAR},
            #{orgInfo.orgLevel,jdbcType=DECIMAL},
            #{orgInfo.createDate,jdbcType=TIMESTAMP},
            #{orgInfo.ord,jdbcType=DECIMAL},
            #{orgInfo.state,jdbcType=DECIMAL}
            from dual
        </foreach>
        )
    </insert>

    <delete id="deleteAll">
        delete from R$ORG_KTL
    </delete>

    <insert id="saveEntity" parameterType="cn.com.sparknet.sjMessage.datalist.entity.message.MsOrgEntity">
    insert into R$ORG_KTL(ORG_ID, PARENT_ORG_ID, ORG_CODE, ORG_NAME, ORG_SIMPNAME, ORG_DBLINK, ORG_LEVEL, CREATE_DATE, ORD, STATE)
    values
    (
    #{orgId,jdbcType=VARCHAR},
    #{parentOrgId,jdbcType=VARCHAR},
    #{orgCode,jdbcType=VARCHAR},
    #{orgName,jdbcType=VARCHAR},
    #{orgSimpname,jdbcType=VARCHAR},
    #{orgDblink,jdbcType=VARCHAR},
    #{orgLevel,jdbcType=DECIMAL},
    #{createDate,jdbcType=TIMESTAMP},
    #{ord,jdbcType=DECIMAL},
    #{state,jdbcType=DECIMAL}
    )
  </insert>
</mapper>